body {
  background-color: #BDBDBD;
  text-align: center;
  font-family: Georgia, sans-serif;
}

.card {
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.header {
  font-size: 4em;
  margin-top: 0;
  margin-bottom: 0;
}

.home {
  background-color: #EEEEEE;
  display: inline-block;
  margin: auto;
  padding: 4em;
}

.nav {
  padding-top: 2em;
}

.link {
  padding: 1rem 2rem;
  font-size: 1.5em;
}

.top-bar {
  position: sticky;
  background-color: gray;
  margin: -8px -8px 16px;
  padding: 4px 20px;
}

.search {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 16px;
}

.btn {
  padding: 1rem 2rem;
  font-size: 1em;
}

.bar {
  text-align: center;
  font-size: 1.6em;
  flex: 1 0 auto;
}

.movie-box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.movie {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #EEEEEE;
  padding: 12px;
}
