<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Movie Reviews</title>

    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <meta name="theme-color" content="#fafafa">
</head>

<body>
<div class="card home">
    <h1 class="header">Movie Review Site</h1>
    {{#totalMovies}}
        <h2>{{totalMovies}}</h2>
    {{/totalMovies}}
    <nav class="nav">
        <a class="link" href="/dynamic/browse">Browse</a>
        <a class="link" href="/dynamic/edit">Edit</a>
    </nav>
</div>
</body>

</html>
