<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Movie Reviews</title>

    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <meta name="theme-color" content="#fafafa">
</head>

<body>

<div class="top-bar">
    <h3 class="header">{{title}}</h3>
    <h2>Movie Reviews</h2>
</div>

<div class="flex-box col">
    {{#reviews}}
        <div class="card comment">
            <a href="/dynamic/user:{{userId}}">{{profileName}}</a> gave <b>[{{score}} / 10]</b>, <br/>
            <p><b>{{body}}</b></p>
            <p style="color: gray; margin: 0">{{reviewedOn}}</p>
        </div>
    {{/reviews}}

    {{^reviews}}
        <p>No reviews yet</p>
    {{/reviews}}
</div>

</body>

</html>
